
### folders
node_modules
scripts
test
.idea
.vscode
coverage
.nyc_output
build/Release
src
docs
scripts
.tscmultiwatch
.docker.r2g
.circleci
.suman

### files
.editorconfig
.gitattributes
.gitignore
.npmignore
.dockerignore

suman.conf.js
.nlu.json

### matching
*.log
*.yml
Dockerfile*
*.md
*.tgz
tsconfig*.json

